html, body, #root {
  height: 100%;
  /*background-image: linear-gradient(teal, white, white, white, blue);*/
  background-color: #dbe8ff;
  font-family: "Microsoft Sans Serif", "Arial";
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.TopBar {
  height: 10%;
  background: linear-gradient(to bottom, #b3dced 0%,#5fc4e2 50%,#bce0ee 100%);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  font-size: 50px;
  padding-left: 25px;
}

.Row {
  display: flex;
  flex-direction: row;
}

.AppBody {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.ChatColumn {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.UserColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  flex-shrink: 0;
}


p {
  margin: 0;
}

input {
  border-radius: 2px;
}

.shaking {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

